name: Build and Deploy ASP.NET to IIS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Restore
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release

    - name: Publish
      run: dotnet publish -c Release -o C:\publish

    - name: Stop IIS Site
      run: |
        Import-Module WebAdministration
        Stop-Website -Name "F12-ASP"

    - name: Deploy to IIS
      run: |
        Remove-Item C:\inetpub\wwwroot\F12-ASP\* -Recurse -Force
        Copy-Item C:\publish\* C:\inetpub\wwwroot\F12-ASP -Recurse -Force

    - name: Start IIS Site
      run: |
        Import-Module WebAdministration
        Start-Website -Name "F12-ASP"
